@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

body {
    background-color: rgb(10, 100, 139);
    font-family: Poppins, sans-serif;
}

.search-section {
    background-color: rgb(10, 100, 139);
    padding: 25px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.search-area {
    display: flex;
    width: 50%;
}

.search-area input {
    flex-grow: 16;
    padding: 12px 20px;
    font-size: 18px;
}

.search-area button {
    flex-grow: 2;
    font-size: 18px;
    background-color: rgb(233, 192, 16);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.search-area button:hover {
    background-color: rgb(237, 156, 8);
}

.search-area button .btn {}

.search-area button .btn i {}

.product-container {
    padding: 50px 0;
}

#product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-card {
    background-color: rgb(255 255 255 / 90%);
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.product-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/smartphone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
}

.product-card h2 {}

.product-card h3 {
    font-size: 32px;
    margin-top: 15px;
    color: #0a648b;
}

.product-card h4 {}

.product-card h5 {
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 300;
    z-index: 3;
}

.product-card h6 {}

.product-card img {
    z-index: 2;
    max-width: 100%;
}

.product-card p {}

.product-card span {}

.product-card button {
    font-size: 18px;
    background-color: rgb(233, 192, 16);
    padding: 10px 30px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
    margin: 0 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.product-card:hover {
    box-shadow: 0px 0px 12px 4px #044460;
}

.product-card button:hover {
    background-color: rgb(237, 156, 8);
}