@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

body {
    background-color: rgb(10, 100, 139);
    font-family: Poppins, sans-serif;
}

.search-section {
    background-color: rgb(10, 100, 139);
    padding: 25px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.search-area {
    display: flex;
    width: 50%;
}

.search-area input {
    flex-grow: 16;
    padding: 12px 20px;
    font-size: 18px;
}

.search-area button {
    flex-grow: 2;
    font-size: 18px;
    background-color: rgb(233, 192, 16);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.search-area button:hover {
    background-color: rgb(237, 156, 8);
}

.search-area button .btn {}

.search-area button .btn i {}

.product-container {
    padding: 50px 0px;
}

#product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.product-card::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url("../images/smartphone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
}

.product-card h2 {}

.product-card h3 {
    font-size: 32px;
    margin-top: 15px;
    color: rgb(10, 100, 139);
}

.product-card h4 {}

.product-card h5 {
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 300;
    z-index: 3;
}

.product-card h6 {}

.product-card img {
    z-index: 2;
    max-width: 100%;
}

.product-card p {}

.product-card span {}

.product-card button {
    font-size: 18px;
    background-color: rgb(233, 192, 16);
    padding: 10px 30px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
    margin: 0px 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.product-card:hover {
    box-shadow: rgb(4, 68, 96) 0px 0px 12px 4px;
}

.product-card button:hover {
    background-color: rgb(237, 156, 8);
}

.product-details {}

.product-content {
    display: flex;
    background-color: azure;
}

.product-img {
    flex-basis: 360px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {}

#product-info {
    flex-grow: 1;
    padding: 30px;
}

#product-info h2 {
    font-size: 36px;
    color: rgb(10, 139, 44);
}

#product-info h4 {
    font-size: 20px;
    color: rgb(10, 100, 139);
    margin-top: 15px;
}

#product-info p {
    font-size: 18px;
    font-weight: 500;
    color: rgb(6, 38, 52);
}

#product-info ul {}

#product-info ul li {
    list-style: none;
    line-height: 1.8;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(6, 38, 52);
}

#error-display {
    height: 50vh;
    display: none;
    text-align: center;
    position: relative;
    top: 100px;
}

#error-display h2 {
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 35px;
}